<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DashBoard</title>

    <%- include ('../layout/header.ejs') -%>
</head>
<body class="hold-transition sidebar-mini layout-fixed">
<div class="wrapper">
    <%- include ('../layout/nav.ejs') -%>
    <%- include ('../layout/sidebar.ejs') -%>



    <%- include ('../layout/footer.ejs') -%>

</body>
</html>